/* Style sheet for index.html */

/* * {
    border: .2px solid gray;
} */

/*          Global style settings stars      */

body {
    margin: 0;
    color: #777777;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #777;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
    float: none;
    line-height: 2em;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    float: left;
    margin-right: 23px;
}

/*          Global style settings end       */


/* Style for the About me section */
#about-box {
    width: 960px;
    margin-left:9%;
    margin-right:9%;
    background-color: white;
    padding-left: 5%;
    padding-bottom: 5%;
}
/* Style for the top of the webpage */
.header {
    background-color: white;
    border-bottom: 1px solid #777;
    width: auto;
}
/* Style for sub-header */
.sub-head {
    width: 1017px;
    margin-left: 177px;
}
.main-box {
    background-color: #4aaaa5;
    color: white;
    display:inline-block;
    /* margin-left: 13.5%; */
    padding: 9px;
}
/*Figure out how to keep the links from shifting */
.sidebar {
    display: inline-block;
    width: 250px;
    float: right;
    padding-top: 2%;
    padding-right: 25%;
}
.sidebar li {
    list-style: none;
}
.nav-item {
    display: inline-block;
}

.divider {
    margin: 0 8px;
    color:lightgray;
}
.main-box > h1 {
    font-size: 25px;
    background-color: #4aaaa5;
    color: white;
}
.main-wrapper {
    background-image: url("../../assets/images/dust_scratches.png");
    padding-top: 1%;
    padding-bottom: 9%;
    padding-left: 5%;
        
}
#about-box > h1 {
    font-size: 25px;
    color: #4aaaa5;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 2px solid #ddd;
}

.footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666;
}

.footer > p {
    text-align: center;
}

/*