/* Style sheet for index.html */

/* * {
    border: .2px solid gray;
} */

/*          Global style settings stars      */

body {
    margin: 0;
    color: #777777;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    float: none;
    line-height: 2em;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    float: left;
    margin-right: 23px;
}

/*          Global style settings end       */


/* Style for the About me section */
#about-box {
    width: 960px;
/*     margin-left:9%;
    margin-right:9%; */
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 9%;
}
/* Style for the top of the webpage */
.header {
    background-color: white;
    border-bottom: 1px solid #777;
    width: auto;
    padding-right: 30%;
    padding-left: 20%;
}
.main-box {
    background-color: #4aaaa5;
    color: white;
    display:inline-block;
    padding: 9px;
}
/*Figure out how to keep the links from shifting */
.sidebar {
    /* width: 250px; */
    float: right;
    padding: 3%;
    padding-left: 0%;
    padding-right: 0%;
    /* margin-left: 50%; */
}
.sidebar li {
    list-style: none;
}
.nav-item {
    display: inline-block;
}

.divider {
    margin: 0 8px;
    color:lightgray;
}
.main-box > h1 {
    font-size: 25px;
    background-color: #4aaaa5;
    color: white;
}
.main-wrapper {
    background-image: url("../../assets/images/dust_scratches.png");
    padding-top: 3%;
    padding-bottom: 288px;
    padding-left: 20%;
    width: 960px;
    padding-right: 33%;        
}
#about-box > h1 {
    font-size: 25px;
    color: #4aaaa5;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 2px solid #ddd;
}

.footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666;
}

.footer > p {
/*     text-align: center;
    color: white;
    padding-left: 8%; */
/*     padding-top: 47px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
    width: 100%; */
    color: white;
    text-align: center;
    background-color: #666;
    width: auto;
    padding-right: 30%;
    padding-left: 20%;  
}

/*Style for Contact.html */

/* .footer2 {
    border-top: 8px solid #4aaaa5;
    background-color: #666;
} */
.main-wrapper2 {
    background-image: url("../../assets/images/dust_scratches.png");
/*     padding-top: 10%;
    padding-bottom: 10%; */
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 960px;
    padding-top: 3%;
    padding-right: 662px;
    padding-left: 15.5%;
    padding-bottom: 15%;
}
/* .footer2 > p {
    text-align: center;
    color: white;
    padding-left: 8%;
    padding-top: 47px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #666;
    width: auto;
    padding-right: 30%;
    padding-left: 20%;
} */

#about-box2 {
    width: 960px;
    margin-left: 9%;
    margin-right: 9%;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4%;  
}
#about-box2 > h1 {
    font-size: 25px;
    color: #4aaaa5;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 2px solid #ddd;
}
form.form-example {
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

div.form-example {
    display: table-row;
}

label, input {
/*     display: table-cell; */
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    
}

label {
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

input#name {
    width: 875px;
    height: 20px;
    margin-top: 5px;
}
input#email {
    width: 875px;
    height: 20px;
    margin-top: 5px;
}
input#message {
    width: 875px;
    height: 275px;
    margin-top: 5px;
}