/* Global settings  */

body {
    margin: 0;
    color: #777777;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    float: none;
    line-height: 2em;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    float: left;
    margin-right: 23px;
}
html {
    height: 100%;
}
/* Style sheet for index.html */
    /* index.html-Header*/
.header {
    background-color: white;
    border-bottom: 1px solid #777;
    width: auto;
    padding-right: 30%;
    padding-left: 20%;
}
.main-box {
    background-color: #4aaaa5;
    color: white;
    display:inline-block;
    padding: 9px;
}
.sidebar {
    float: right;
    padding: 3%;
    padding-left: 0%;
    padding-right: 0%;
}
.sidebar li {
    list-style: none;
}
.nav-item {
    display: inline-block;
}

.divider {
    margin: 0 8px;
    color:lightgray;
}
.main-box > h1 {
    font-size: 25px;
    background-color: #4aaaa5;
    color: white;
}
    /* index.html-About Me */
.about-wrapper {
    background-image: url("../../assets/images/dust_scratches.png");
    padding-top: 3%;
    padding-bottom: 0;
    height: 722px;
}
#about-box {
    width: 960px;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4%;
    margin-left: 20%;
}
#about-box > h1 {
    font-size: 25px;
    color: #4aaaa5;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 2px solid #ddd;
}
    /* index.html-Footer */
.about-footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666;
}
.about-footer > p {
    color: white;
    text-align: center;
    background-color: #666;
    width: auto;
    padding-right: 30%;
    padding-left: 20%;  
}
/*Style for Contact.html */
    /* contact.html-Header*/
.contact-wrapper {
    background-image: url("../../assets/images/dust_scratches.png");
    padding-top: 16px;
    padding-bottom: 0;
    height: 763px;
}
#contact-box {
    width: 960px;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4%;
    margin-left: 20%;  
}
#contact-box > h1 {
    font-size: 25px;
    color: #4aaaa5;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 2px solid #ddd;
}
form.form-example {
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}
div.form-example {
    display: table-row;
}
label, input {
/*     display: table-cell; */
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;  
}
label {
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}
input#name {
    width: 875px;
    height: 20px;
    margin-top: 5px;
}
input#email {
    width: 875px;
    height: 20px;
    margin-top: 5px;
}
input#message {
    width: 875px;
    height: 275px;
    margin-top: 5px;
}
input[type="submit" i] {
    background-color: teal;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}
.contact-footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666;
}
.contact-footer > p {
    color: white;
    text-align: center;
    background-color: #666;
    width: auto;
    padding-right: 30%;
    padding-left: 20%;
}
/*Style for Portfolio.html */
    /* portfolio.html-Header*/
.portfolio-wrapper {
    
}